<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>MU&FIN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">MU&FIN</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">메뉴</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>메뉴</h2>
					<ul>
						<li><a href="index">지점찾기</a></li>
						<li><a href="trainer">트레이너찾기</a></li>
						<li><a href="financial_products">금융상품추천</a></li>
						<li><a href="mypage">마이페이지</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
	
							<!-- Lists -->
								<section>

									<div class="row">
										<div class="col-6 col-12-medium">
											<h3 id="name">OOO님의 정보</h3>
											<ul class="alt">
												<li id="goal"></li>
												<li id="status"></li>
                                                <li id="PT"></li>
                                                <li id> <p><b>결제 내역</b></p>
                                                    <table class="table-borders">
                                                            <tr>
                                                                <th>거래날짜</th>
                                                                <th>거래은행</th>
                                                                <th>수취인계좌</th>
                                                                <th>거래금액</th>
                                                            </tr>
                                                            <tbody id="history"></tbody>
                                                        </table>  </li>
												<li><a href="http://www.nhis.or.kr"><b>김운동님에게 적합한 금융상품 추천</b></a></li>
												<table class="table-borders">
														<tr>
															<td>삼성화재 건강 보험</td>	
														</tr>

														<tr>
															<td>라이프케어 CI종신 보험</td>
														</tr>

														<tr>
															<td>도전 365 적금</td>
														</tr>

														<tbody id="history"></tbody>
													</table>  </li>
												<h3>Befor & After</h3>
												<img src="images/before-after.jpg" width="500" height="300"/>
											</ul>
										</div>
									</div>
									

						
							<!-- Image 
								<section>
									<h3>Left &amp; Right</h3>
									<p><span class="image left"><img src="images/pic14.jpg" alt="" /></span>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
									<p><span class="image right"><img src="images/pic15.jpg" alt="" /></span>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
								</section>-->

						</div>
					</div>

				<!--Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

			<script type="text/javascript" src="scripts/jquery.js"></script>
		<script type="text/javascript" src="scripts/plugins.js"></script>
		<script type="text/javascript" src="scripts/custom.js"></script>

            <script>
				var jwtToken = sessionStorage.getItem('jwtToken');			
                $.ajax({
                   url: 'http://localhost:3000/mypage',
                   type: 'POST',
                   headers: {
					'x-access-token' : jwtToken
                   },
                   data: {
                   },
                   success: function (data) {
					   console.log(data)
                     $("#name").html(data[0].customer_name +'님의 정보')
                     $("#goal").html('목표 : ' + data[0].customer_target)
                     $("#status").html('현재 상태 : ' + data[0].customer_status)
                     $("#PT").html('남은 P.T 횟수 : ' + data[0].customer_remainingPT)
                     var resultList = data
                     for (let i = 0; i < resultList.length; i++) {
                           const element = resultList[i];
                           $("#history").append(
                               '<tr>' +
                               '<td>'+element.date+'</td>' +
                               '<td>'+element.bank+'</td>' +
                               '<td>'+element.account+'</td>' +
                               '<td>'+element.amount+'</td>' +
                               '</tr>'
                           )
                               }
                      // $("#ammount").html(data.fintech_use_num+'');
                   }
               })
           </script>
	</body>
</html>